@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  font-size: 18;
}

html, body, #root {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #242424;
}

