@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

@keyframes float-top {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -150px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes float-bottom {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-150px, 100px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes float-right {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(150px, 100px);
  }
  100% {
    transform: translate(0, 0);
  }
}


